<script setup lang="ts" >
/**
 * {{description}}
 * 
 * @author {{usernmae}} <{{email}}>
 * @date {{createAt}}
 */
defineOptions({
   name: "St{{capitalize componentName}}",
});

</script>

<template>
  <div>这是组件</div>
</template>

<style scoped>
</style>